/**
 * Component - Gallery
 */

.gallery {
  &__inner {
    @include list-unstyled();
    @include row(flex-start);
  }

  &__item {
    @include col(3, false, "sm");

    & > img {
      aspect-ratio: 8 / 5;
      object-fit: cover;
      margin: auto;
      transition: opacity 0.25s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
